<div class="customers view">
	<div class="container">
		<header>
			<h3>Customers</h3>
		</header>
		<div class="row">
			<div class="span3">
				First Name:
				<br>
				<input data-ng-model="newCustomer.firstName" type="text" placeholder="First Name">
			</div>
			<div class="span3">
				Last Name:
				<br>
				<input data-ng-model="newCustomer.lastName" type="text" placeHolder="Last Name">
			</div>
			<div class="span6">
				City:
				<br>
				<input data-ng-model="newCustomer.city" type="text" placeHolder="Customer City">
				<button class="btn btn-primary" ></button>
			</div>
		</div>
	</div>
</div>